@font-face {
    font-family: RedHatDisplay;
    src: url("Red_Hat_Display/static/RedHatDisplay-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: RedHatDisplay;
    src: url("Red_Hat_Display/static/RedHatDisplay-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: RedHatDisplay;
    src: url("Red_Hat_Display/static/RedHatDisplay-Black.ttf");
    font-weight: 900;
}

:root {
    box-sizing: border-box;
    font-family: RedHatDisplay;
    font-size: 16px;

    --main-img-border-radius: 20px;

    /* Primary */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /* Neutral */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-image: url("requirements/images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--very-pale-blue);
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.outer {
    min-height: 100vh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center.flex-column {
    flex-direction: column;
}

.mt-05 {
    margin-top: 0.5em;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.bold {
    font-weight: 900;
}

.semi-bold {
    font-weight: 700;
}

.card {
    border-radius: var(--main-img-border-radius);
    width: 450px;
    background-color: white;
    box-shadow: 0px 18px 18px var(--pale-blue);
}

.main-img {
    border-top-left-radius: var(--main-img-border-radius);
    border-top-right-radius: var(--main-img-border-radius);
}

.card-body {
    padding: 3em 3.5em; 
    text-align: center;
}

.blue-text-color {
    color: var(--desaturated-blue);
}

.info {
    background-color: var(--very-pale-blue);
    padding: 1.5em;
    border-radius: 0.5em;
}

.info-img {
    float: left;
}

.info-details {
    display: inline-block;
    margin-left: 1em;
}

.info-change {
    margin-left: auto;
}

button {
    cursor: pointer;
}

.blue-button {
    background-color: var(--bright-blue);
    padding: 1em 0;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 18px 18px hsl(225, 82%, 82%);
    width: 100%;
}

.transparent-button {
    border: none;
    background-color: white;
}
